<form method = "post" accept-charset = "UTF-8" class = "col-8 mx-auto"> 
<!--
<div class="row g-3">
  <div class="col ">
    <label for="username" class="form-label">Nom d'utilisateur</label>    
    <input type="text" name="username" id="username" value="" class="form-control" placeholder="Nom">
  </div>
</div>
  <div class="row g-3 mt-2">
    <div class="col">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email" placeholder="Email">
    </div>
  </div>  
-->
  <div class = "form-floating">
    <div class = "col pt-5">
      <label for = "comment" class = "form-label">Mon commentaire</label>
      <textarea name = "comment" id = "comment"  value = "" class="form-control" rows = "4" placeholder = "Votre commentaire"></textarea>
    </div>
  </div>
  <div class = "col-12 mt-3">
    <button type = "submit" class = "btn btn-primary">Envoyer</button>
  </div>
</form>




