<h2>Je commente</h2>
<form method="post" accept-charset="UTF-8">    
    <h3><label for="name">Username or email</label></h3>
    <input id="name" type="text" name="name"
        value="" placeholder="John17485">
    <h3><label for="comment">Mon commentaire</label></h3>
    <textarea id="commnent" name="comment"
        value="" placeholder="Mon commentaire"></textarea> 
    <input type="submit" value="Submit">
</form>