{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block content %}

<div class="container {# text-center #} ">
    
  <h1 >{{title}}</h1>

  {# <div class="container">
        <div class="justify-content-center ">
            <h1>Administration :</h1>
            
        </div>
  </div> #}

    <div class="container text-center">

        <form action="/blogMvc/administration" method="post" class="">
          <h3 >Rédiger un article</h3>
          <br>
            <div class="row d-flex justify-content-center">

                <div class="mb-3 col-8">
                <label for="title" class="form-label" class="col-4">Titre :</label>
                <div class="">
                    <input type="text" name="title" class="form-control required" id="title" placeholder="Titre de l'article">
                </div>
                </div>

                <div class="mb-3 col-8">
                <label for="content" class="form-label required">Article :</label>
                <div class="">
                    <textarea name="content" class="form-control required" id="content" rows="7" cols="30" placeholder="Rédigez votre article"></textarea>
                </div>
                </div>

                <div>
                <input type="submit" class="btn btn-primary px-4 col-8" value="valider">
                </div>        
            </div>        
        </form>

    </div>
    
</div>