{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block content %}
   
<div class="d-flex justify-content-center mb-5">
    <h1>Contact</h1>
</div>

<form action="/blogMvc/contact" method="POST" class="">
  <div class="row d-flex justify-content-center">
    <div class="mb-3 col-8">
      <label for="firstname" class="form-label" class="col-4">Prénom</label>
      <div class="">
        <input type="text" name="firstname" id="firstname" value="" class="form-control required" placeholder="">
      </div>
    </div>
    <div class="mb-3 col-8">
      <label for="lastname" class="form-label" class="col-4">Nom</label>
      <div class="">
        <input type="text" name="lastname" id="lastname" value="" class="form-control required" placeholder="">
      </div>
    </div>
    <div class="mb-3 col-8">
      <label for="email" class="form-label" class="col-4">Email</label>
      <div class="">
        <input type="text" name="email" id="email" value="" class="form-control required" placeholder="">
      </div>
    </div>
    <div class="mb-3 col-8">
      <label for="message" class="form-label required">Message</label>
      <div class="">
        <textarea name="message" class="form-control required" id="message" rows="7" cols="30" placeholder="Rédigez votre message"></textarea>
      </div>
    </div>
    <div class="text-center">
      <input type="submit" class="btn btn-primary row px-4 col-8" value="valider">
    </div>            
    {# <div class="mb-3 col-8">
      <input type="submit" class="btn btn-primary" value="Envoyer"/>
    </div>  #}       
  </div>       
</form>        

{% endblock %}