{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block content %}

<div class="container text-center p-3 mb-2 bg-secondary text-white">
    
  <h1 >{{title}}</h1>

  <div class="container">
        <div class={# "justify-content-center " #}>
            <h1>INSCRIPTION :</h1>
            <p>Lorem ipsum dolor sit.
            </p>
        </div>
  </div>

  <div class="auth-container my5">
  
    <h1 class="auth-title fade in">S'inscrire</h1>
    
    <form name="registration_form" method="post" class="auth-form fade fade-1 in">
      <div class="form-group"><label for="registration_form_username" class="required">Nom d'utilisateur</label><input type="text" id="registration_form_username" name="registration_form[username]" required="required" class="form-control"></div>
          <div class="form-group"><label for="registration_form_email" class="required">Adresse email</label><input type="email" id="registration_form_email" name="registration_form[email]" required="required" class="form-control"></div>
            <div class="form-group"><label for="registration_form_plainPassword_first" class="required">Mot de passe</label><input type="password" id="registration_form_plainPassword_first" name="registration_form[plainPassword][first]" required="required" minlength="6" class="form-control"></div>
              <div class="form-group"><label for="registration_form_plainPassword_second" class="required">Confirmer le mot de passe</label><input type="password" id="registration_form_plainPassword_second" name="registration_form[plainPassword][second]" required="required" minlength="6" class="form-control"></div>
                <div class="form-optional" aria-hidden="true">
                  <div class="form-group"><input type="text" id="registration_form_job" name="registration_form[job]" class="hidden form-control"></div>
                </div>
                    <div class="form-group"><label for="registration_form_captcha" class="required">Captcha</label>  
                        <div class="form-group">
                    </div>
                        </div><input type="hidden" id="registration_form__token" name="registration_form[_token]" value="c4cdb5bf711630.rTd38Bxg4suV9QU5lK_NTyEvltucQUMDZFvPwpHzjmE.ygAAlm8rvYagp3Nroe68KVIW4o2vCTBaLxi4qv-gu1HLcDyCbjG48sqAZg">
      <button type="submit" class="btn-gradient">S'inscrire</button>
      <p>
        <small class="text-muted">Vos données personnelles (email et nom d'utilisateur) ne sont utilisées qu'à des fins d'authentification et ne sont pas partagées avec des tiers (<a href="/politique-de-confidentialite">En savoir plus</a>).</small>
      </p>
    </form>

  </div>

</div>
{% endblock %}