{# Appel du layout de la page #}
{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block content %}

<div class="container text-center p-3 mb-2 bg-secondary text-white">
    
  <h1 >{{title}}</h1>

  <div class="container">
        <div class={# "justify-content-center " #}>
            <h2>CONNEXION :</h2>
        </div>
  </div>

  {# <div class="row align-items-center col-8 my5"> #}
  <div class="row justify-content-center">
    <div class="row col-8 gy-4">
      
      <form method="POST" action="/blogMvc/login">
        <div class="form-group">
          <label for="email" class="form-label required">Email</label>
          <input type="email" class="form-control" id="email" name="email" required="required">
        </div>
         
        <div class="col-12 mt-4">
          <label for="password" class="form-label required">Mot de passe</label>
          <input type="password" class="form-control" id="password" name="password" required="required" minlength="6">
        </div>
         
        <div class="col-12 mt-4">
          <button type="submit" class="btn btn-primary w-30">Se connecter</button>
          <input type="hidden" name="_csrf_token" value="766734c6982b31.TfdyhHspQlCagMQ47RCGPdkjfcKYHGK289FHoPEOtIw.O4IItjZvHQnI9fIMrCLkTLFQPIn1ajeCxJ4glsNl1us_nwvMFU16CfzkjQ">
        </div>
      </form>

    </div>
  </div>
  
</div>

</div>
  
  {% endblock %}